@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --background-color: #ffe8e1;
  --font-color: #131542;
  --link-color: #c1121f;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 1.25;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

/* clear margin */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

li {
  margin-left: 1rem;
}

.fa-flask {
  margin-right: 0.5rem;
}
