{{ if .Title}}
<figure>
    <a href="{{ .Destination | safeURL }}" target="_blank">
        <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}"
        style="display: block; margin-left: auto; margin-right: auto">
    </a>
    <figcaption style="text-align:center;">{{ .Title }}</figcaption>
</figure>
{{ else }}
    <a href="{{ .Destination | safeURL }}" target="_blank">
        <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}"
        style="display: block; margin-left: auto; margin-right: auto">
    </a>
{{ end }}