@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --background-color: #ffe8e1;
  --font-color: #131542;
  --link-color: #c1121f;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 1.4em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  background-color: var(--link-color);
  padding: 0.1em 0.5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  border-radius: 0.5em;
}

a:hover {
  color: var(--link-color);
  background-color: white;
}

/* clear margin */
0.2e p {
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.container {
  width: min(85%, 25rem);
}

ul {
  list-style-type: none;
  list-style-position: outside;
}

li {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.fa-flask {
  margin-right: 0.5rem;
  /* Moving the icon so it's lower than text baseline */
  transform: translateY(0.4em);
}

.preamble {
  animation-delay: 0.3s;
}

.resources {
  animation-delay: 0.7s;
}

.fade-in-bottom {
  animation-name: fade-in-bottom;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(3em);
    opacity: 0%;
  }
  100% {
    transform: translateY(0em);
    opacity: 100%;
  }
}
