:root {
  --font-color: #131542;
  --link-color: #c1121f;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 1.4em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(#bb4bf2, #d5bae3);
  color: var(--font-color);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

#confusion_matrix {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  width: min(85%, 25rem);
}
